.highlight {
    background-color: yellow;
    font-weight: bold;
}

.important {
    color: red;
    text-decoration: underline;
}

.tech-stack {
    background-color: #e3f2fd;
    padding: 2px 5px;
    border-radius: 3px;
}

