.nav-menu {
  background-color: #333;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  border-right: 1px solid #555;
}

.nav-item:hover {
  background-color: #555;
}

.nav-item:last-child {
  border-right: none;
}
