body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.highlight {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
