.container {
  width: 400px;
  height: 300px;
  border: 2px solid #333;
  margin: 50px;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

#box2 {
  background-color: #e74c3c;
  position: relative;
  top: 20px;
  left: 50px;
}

#box3 {
  background-color: #2ecc71;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #9b59b6;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
}
