textarea {
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  resize: vertical;
}

textarea:focus {
  border-color: #4caf50;
  outline: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}

#counter {
  width: 100%;
  max-width: 500px;
  padding-left: 20px;
  font-size: 12px;
  text-align: right;
}